@CHARSET "UTF-8";

html{
    width: 100%;
    height: 100%;
}

body {
	font-family: 'Droid Sans', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
	padding: 0;
}

h1, h2, h3 {
	font-weight: normal;
}

h3.success {
	color: green;
}

h3.fail {
	color: red;
}

.header {
	border-bottom: 1px solid #aaa;
}

.footer {
	clear: both;
}

.menu,
.header,
.footer,
.content {
	width: 1024px;
    margin: 0px auto 0px auto;
}

.content {
	padding-top: 5px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 10px 0px 0px 0px;
}

.menu ul li {
	display: inline-block;
}

input[type="submit"],
input[type="button"],
button,
.menu a {
	padding: 5px 10px;
	background-color: #64adec;
	color: #000;
	text-decoration: none;
	display: inline-block;
	min-width: 100px;
	border: 0;
	text-align: left;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.menu a.active,
.menu a:hover {
    background-color: #428bca;
    color: #fff;
}

.menu a.active,
.strong {
	font-weight: bold;
}

/* FILELIST */

.filelist {
	width: 300px;
	float: left;
}

.tableSize .filelist {
    width: 200px;
    float: left;
}

/* INFO BLOCK */

.info {
	margin-left:320px;
}

.info div.infoData {
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	min-height: 80px;
	padding: 0px 10px;
}

div.generator {
	border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 0px 10px;
    font-size: 90%;
}

.builder {
	margin-left: 320px;
}

/* FORMS */

form {
	margin:0;
	padding:0;
}

label {
	text-align: right;
	margin-right: 3px;
}

label.l50 {
	display: inline-block;
	width: 50px;
}

input {
	margin: 3px;
}

input.i60 {
	width: 60px;
}

input.i170 {
	width: 170px;
}

input[type="submit"],
input[type="button"],
button {
	margin: 3px;
}

.filelist a {
}

.filelist table {
	width: 100%;
}

.filelist table th {
	text-align: left;
}

/* FULL LIST OF NODES */

.graphData {
	width: 150px;
    float: right;
	font-size: .85em;
}

.shorttable {
	overflow-y: scroll;
	height: 180px;
	width: 40%;
	float: left;
	font-size: .9em;
}

.result {
    font-family: 'Droid Sans Mono', ;
    font-size: .85em;
    width: 40%;
    float: left;
    margin-left: 10px;
}

.graphVisual {
	padding: 0px;
	margin-right: 10px;
}

.graphVisual canvas {
    background: #eee;
    border-radius: 10px;
    border: 1px dotted #64adec;
    margin-top: 5px;
}

.graphVisual > svg {
    width: 800;
    height: 600;
}

.glyphicon {
	padding-left: 10px;
}

.nowidth {
	width: auto;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.editor-blocks .form {
	width: 24%;
	float: left;
	border-left: 1px solid #ccc;
	padding-left: 3px;
	height: 120px;
}

.editor-blocks .form:FIRST-CHILD {
	border-width: 0px;
    padding-left: 0px;
}

.clear {
	clear: both;
}
