@CHARSET "UTF-8";

html{
    width:100%;
    height:100%;
}

body {
	font-family: 'Droid Sans', sans-serif;
    margin:0;
    width:100%;
    height:100%;
	padding: 0;
}

h1, h2, h3 {
	font-weight: normal;
}

h3.success {
	color: green;
}

h3.fail {
	color: red;
}

.header,
.footer {
	padding: 5px 0px;
	border-bottom: 1px solid #000;
}

.footer {
	clear:both;
}

.menu,
.header,
.footer,
.content {
	width: 1024px;
    margin: 0px auto 0px auto;
}

.content {
	margin-top:15px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 10px 0px 0px 0px;
}

.menu ul li {
	display: inline-block;
}

.menu a {
	padding: 5px 10px;
	background-color: #000;
	color: #fff;
	text-decoration: none;
	display: block;
	min-width: 100px;
}

.menu a:hover {
    background-color: #333;
    color: #ff0;
}

.menu a.active {
	background-color: #333;
    color: #f00;
}

.filelist {
	width:300px;
	float:left;
}

.filelist200 {
    width:200px;
    float:left;
}

.info {
	margin-left:320px;
}

.info .generator {
	border-top: 1px solid #000;
	padding: 5px 0px;
	margin-top: 5px;
}

form {
	margin:0;
	padding:0;
}

.generator form label {
	display:inline-block;
	width:18%;
}

.generator form  br + input[type="submit"] {
    margin-left:19%;
}

.filelist a {
}

.filelist table {
	width: 100%;
}

.filelist table th {
	text-align: left;
}

.graphData {
	width:200px;
    float:left;
	font-size:.8em;
	margin-top:20px;
}

.graphVisual {
	padding: 0px;
	margin-left: 210px;
}

.graphVisual canvas {
    background:white;
}

.graphVisual > svg {
    width: 800;
    height: 600;
}

.graphVisual .result {
	height: 180px;
	overflow-y: scroll;
    font-family: 'Droid Sans Mono', ;
    font-size: .8em;
}